---
import "@/styles.css"
import Footer from "@/components/ui/Footer.astro"

import Lethal from "@/utils/Lethal.astro"
export interface Props {
  title: string
  desc: string
}

const { title = "bromine", desc = "a really shitty web proxy" } = Astro.props
---

<html lang="en">
  <head>
    <meta
      name="keywords"
      content="proxy, web proxy, uncensor, bypass firewall, free web proxy"
    />
    <meta name="description" content={desc} />
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta content="0.1.5" name="version" />

    <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">

    <meta property="og:site_name" content="Bromine" />
    <meta property="og:url" content="https://bromine.pages.dev"/>
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={desc} />

    <meta name="googlebot" content="index, follow, snippet" />
    <link rel="canonical" href="https://bromine.pages.dev"/>

    <Lethal />
    <link rel="preconnect" href="https://bromine.pages.dev"/>
    <script is:inline defer src="/alu-adblocker.js"></script>

    <script is:inline defer>
      const originalSetItem = localStorage.setItem;
      localStorage.setItem = function (key, value) {
        originalSetItem.apply(this, arguments);
        window.dispatchEvent(new Event(`${key}-changed`));
      };
      window.addEventListener("theme-changed", () => {
        document.body.dataset.theme = localStorage.getItem("theme");
      });

      const cloak = () => {
        const cloakValue = localStorage.getItem("cloak");
        if (!cloakValue || cloakValue === 'none') return;

        const cloakk = cloakValue.split("|");
        document.title = cloakk[0];
        const icon = document.querySelector("link[rel=icon]");
        if (icon)
          icon.href = cloakk[1];
      };

      window.addEventListener("cloak-changed", cloak);

      document.addEventListener("DOMContentLoaded", () => {
        document.body.dataset.theme = localStorage.getItem("theme");
        cloak();
      });
    </script>

    <title>{title}</title>
  </head>
  <body class="text-text bg-base flex">
    <a
      href="#main"
      class="absolute left-4 top-4 z-50 bg-surface px-4 py-2 rounded-md shadow-lg
              transform -translate-y-16 opacity-0 transition-all duration-300 ease-in-out
              focus:translate-y-0 focus:opacity-100 hover:bg-overlay z-[10000]"
    >
      Skip to main content
    </a>

    <main id="main" class="flex flex-col flex-grow h-screen">
      <slot />
    </main>

    <Footer />
  </body>
</html>
